@import './node_modules/react-vis/dist/style';

$black: #000;
$white: #fff;
$link-blue: #6c8aa4;

.app {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: GillSans;
  padding: 5% 20%;
}

.circles-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.project-name {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    font-size: 72px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 48px;
    font-weight: lighter;
  }

  .authorship {
    font-size: 12px;

    a {
      color: $link-blue;
      text-decoration: none;
    }
  }
}

.text {
  margin: 10px 0;
}

@media screen and (max-width: 576px) {
  .app {
    padding: 5%;
  }

  .project-name {
    .title {
      font-size: 48px;
    }

    .subtitle {
      font-size: 24px;
    }
  }

  .circles-container {
    flex-direction: column;
  }

  .timeline-wrapper {
    max-width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
