@import './node_modules/react-vis/main';

$black: #000;
$white: #fff;

.app {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: GillSans;
}

.app-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.project-name {
  display: flex;
  flex-direction: column;
  line-height: 55px;
  width: 100%;

  .title {
    font-size: 72px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 72px;
    font-weight: lighter;
  }
}

.color-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 200px;

  &.selected-color-block .color-block-color {
    border: thin solid $black;
  }

  .color-block-color {
    border: thin solid $white;
    height: 10px;
    width: 30px;
  }

  .color-block-name {
    font-weight: lighter;
    max-width: 70px;
    text-align: justify;
    text-transform: uppercase;
    word-break: break-all;
  }
}


.color-blocks-wrapper {
  align-items: flex-start;;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}


.rv-xy-plot__series--rect {
  rect {
    stroke-opacity: 0;
  }
}

.rv-radial-chart__series--pie {
  opacity: .5;
}
